.app {
  background: url(/images/background-big.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: auto;
  min-height: 100vh;
  min-width: 100vw;
}

@media screen and (max-width: 800px) {
  .app {
    background: url(/images/background-small.jpg) no-repeat center center fixed;
  }
}

@media screen and (max-width: 2000px) {
  .app {
    background: url(/images/background-medium.jpg) no-repeat center center fixed;
  }
}

.tint {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  overflow: auto;
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(0, 0, 0, 0.6);
}