.home {
  margin: 5vh 5vw 0 5vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
}

.home__text {
  margin-top: 20px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 5vh;
  line-height: 15vh;
}